html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}

 body {
    background-color: #F5F7FA;
    margin: 0 0 0 0; 
    overflow-x: hidden;

} 

.header {
    z-index: 1000;
    overflow: hidden;
    padding: 10px 1.2rem;
    position: fixed;
    top: 0;
    transition: 0.5s;
    background-color: #E5EFFF;
    border-radius: 0 0 0 0;
    width: 100%;
    display: relative;
}


.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
}

.logo_image {
    height: 50px;
    width: auto;
    transition: 0.4s;
    /* margin-top: 10px; */

    /* -webkit-mask-image: radial-gradient(ellipse 90% 80% at 48% 78%, black 40%, transparent 50%); */
    /* mask-image: radial-gradient(ellipse 90% 80% at 48% 78%, black 40%, transparent 50%); */
}

.logo_text1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    transition: 0.4s;
}

.logo_text2 {
    font-weight: 400;
    font-size: 15px;
    color: darkgray;
    transition: 0.4s;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    /* margin-top: -90px; */
}

.nav_link {
    position: relative;
    margin-left: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.nav_link:hover {
    border-bottom: 4px solid black;
    padding: 0 0 4px;
}


.bg_picture {

    position: absolute;
    height: 200px;
    width: auto;

    margin-top: 8%;
    left: 200px;
    z-index: -1;
    animation: jump 3s infinite;
}

.bg_picture2 {

    position: absolute;
    height: 200px;
    width: auto;
    margin-top: 8%;
    right: 200px;

    z-index: -1;
    animation: jump 3s infinite;
    animation-delay: 0;
}

@keyframes jump {
    0%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(20px);
    }
}

.description {
    align-items: center;
    height: auto;
}

.cool_question {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;

    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.cool_description {
    margin-top: 100px;
    width: 100%;
}

.linux_is {

    width: 60%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 100px;
}

.cool_container {
    overflow: hidden;
    margin-top: -80px;
    height: 150px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.list_cool_things {
    transform: translateY(0px);;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    width: 80%;
    text-align: center;
    list-style: none;

    animation: swap 10s infinite;
}

.cool {

    line-height: 1.5;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 100px;
}

@keyframes swap {
    0%, 100%, 12.66% {
        transform: translate3d(0,0,0);
    }

    16.66%, 29.32% {
        transform: translate3d(0,-150px,0);
    }

    33.32%, 45.98% {
        transform: translate3d(0,-300px,0);
    }

    49.98%, 62.64% {
        transform: translate3d(0,-450px,0);
    }

    66.64%, 79.3% {
        transform: translate3d(0,-600px,0);
    }

    83.3%, 95.96% {
        transform: translate3d(0,-750px,0);
    }
}

.actual_description {
    padding: 30px 30px;
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 600px;
}

.hyperlink {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.windows_bad {
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    width: 900px;
}

.arrow_wrapper {
    display: block;
    margin-top: 40px;
}

.arrow {
    margin: 60px auto 10px auto;
    width: 10px;
    height: auto;
}
.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #000000;
    border-right: 5px solid #4e4e4e;
    transform: rotate(45deg);
    margin: -16px 0;
    animation: arrow 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow {
    0%{
        opacity: 0;
        transform: translate(0,-20px) rotate(45deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0,20px) rotate(45deg);
    }
}

.pastel_box {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.pros {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    overflow: hidden;
    /* margin-right: 0px; */

    /* justify-content: space-between; */
}

.cool_text {
    margin-right: auto;
    margin-left: auto;
    width: 70%;

    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 64px;
    text-align: center;
}

.pros_objects {
    margin-top: 200px;
    margin-left: 0;
    margin-right: 0; 
    margin-bottom: 100px; 
}

.pros_objects span {
    /* position: relative; */
    overflow: hidden;
    width: 600px;
    /* height:500px; */

    border-radius: 30px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 60px;

}

.pros_objects span:nth-child(odd) {
    display: block;
    background-color: wheat;
    margin-left: 15%;
}

.pros_objects span:nth-child(even) {
    display: block;
    background-color: #add8e6;
    margin-right: 15%;
    margin-left: auto;
} 

.obj_contents_textH {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}

.mini_container {
    display: flex;
    margin-top: 40px;
    height: auto;
}

.obj_contents_text {
    line-height: 25px;
    text-align: start;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    -webkit-background-clip: text;
    background-clip: text;
}

.obj_video {
    border-radius: 50%;
    display: inline-block;
    height: 270px;
    width: auto;
}

.distros {
    margin-top: 100px;
    height: 1100px;
}

.distros_whatsThat {
    margin-top: 100px;

    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
}

.distros_container {
    margin-top: 300px;

    margin-left: auto;
    margin-right: auto;
    width: 100px;
    /* height: 10px; */
}

.sun_tux {

    position: absolute;
    width: 80px;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    z-index: 2;
}

.satellites_container {
    position: relative;
}

.satellite {
    width: 100px;
    height: auto;
    position: absolute;
    /* z-index: -1; */
    margin-left: 0px;
    margin-top: 0px;

    animation: appearing 3s forwards, spinning 15s linear 1s infinite forwards;

    opacity: 0;
    /* visibility: hidden; */
}

.satellite_animated {
    animation: appearing 3s 1;
}

.satellites img:nth-child(1) {
    animation-delay: 0s;
}
.satellites img:nth-child(2) {
    animation-delay: 1.5s;
}
.satellites img:nth-child(3) {
    animation-delay: 3s;
}
.satellites img:nth-child(4) {
    animation-delay: 4.5s;
}
.satellites img:nth-child(5) {
    animation-delay: 6s;
}
.satellites img:nth-child(6) {
    animation-delay: 7.5s;
}
.satellites img:nth-child(7) {
    animation-delay: 9s;
}
.satellites img:nth-child(8) {
    animation-delay: 10.5s;
}
.satellites img:nth-child(9) {
    animation-delay: 12s;
}
.satellites img:nth-child(10) {
    animation-delay: 13.5s;
}

@keyframes spinning {
    0% {
        transform: rotate(0deg) translateY(200px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translateY(200px) rotate(-360deg);
    }
}

@keyframes appearing {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.info_container {
    height: 200px;
}

.distro_info {
    width: 50%;
    height: auto;

    text-align: center;

    margin-top: 100px;
    margin-bottom: 100px;

    margin-left: auto;
    margin-right: auto;
    padding: 40px 40px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

ul {
    padding-left: 0;
}

.ds_h {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.screenshots {
    margin-top: 100px;
    width: 100%;
}

.gallery {
    margin-top: 150px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 400px 400px 400px;
    gap: auto;
    row-gap: 40px;
    /* justify-content: space-evenly; */
}

.scr {
    display: block;
    border: 5px solid black;
    width: 400px;
    height: 230px;
}

.interesting {
    margin-top: 100px;
}

.fax {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: flex;
}

code {
    background-color: black;
    color: white;
    padding: 2px 2px;
}

.fax_link {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

.torwalds {
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-right: auto;
    border-radius: 5%;
}

.footer {
    margin-top: 150px;
    background-color: #E5EFFF;
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-between;
}

.placeholder {
    height: 1px;
    margin-top: 5%;
    /* background-color: red; */
}

.credits {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 10px;
    font-weight: 600;
    padding: 30px 30px;
    color:#9ab7e6;
}

.icons {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: auto;
}

.cred {
    width: 50px;
    height: 50px;
}

.to_the_top {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    transition: 1s;
    position: fixed;
    left: 30px;
    bottom: -90px;
    background-color:white;
    border: 2px solid rgba(0, 0, 0, 0.1);

    text-align: center;
    font-size: 30px;
    user-select: none;
    text-decoration: none;
    color: gray;
}

.facts > li{
    list-style: none;
}

.arch {
    width: 20px;
    height: 20px;
    display: inline;
}